CLIENT_TOKEN=""
GUILD=""

# TODO - ADD FUNCTIONALTY
HELP_CAT=""

# Generate API token via openssl rand -hex 64
API_TOKEN=""

# Time in seconds
API_RATE_WINDOW="60"
API_MAX_REQUESTS="10"
NODE_ENV="development"